@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

* {
  /* box-sizing: border-box; 
  padding: 0;
  margin: 0;  */
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #fff;
  color: #333;
  line-height: 1.6;
  max-width: fit-content;
}
.wrapper {
  display: flex;
  position: relative;
  padding-left: 0;
  padding-bottom: 5-px;
  flex-wrap: wrap;
}

.wrapper ul {
  display: fixed;
  flex-direction: column;
  align-content: flex-start;
  list-style: none;
  margin: 0;
  height: auto;
  width: auto;
}

.wrapper .sidebar {
  position: absolute;
  height: 80%;
}

/* .wrapper .sidebar h2 {
  color: #5432;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 
} */

/* .wrapper .sidebar ul li {
  padding: 5px;
  border-bottom: 1px solid rgba (0,0,0,0.5);
  border-top: 1px solid rgba (0,0,0,0.5);
} */

.wrapper .sidebar ul li a {
  color: #bdbdbd;
  display: inline-block;
}

.wrapper .sidebar ul li:hover a {
  color: #854;
}

.Main,
P {
  display: flex;
  color: #333;
  line-height: 1.2;
  margin-top: 50px;
  text-align: center;
}

p {
  margin: 10px 0;
  color: #333;
  margin-left: 50px;
}

.navbar {
  background-color: #3eb489;
  list-style: none;
  text-decoration: none;
  color: #fff;
  height: 70px;
}

.navbar ul {
  display: flex;
  word-spacing: 1px;
}

.navbar a {
  color: #fff;
  padding: 10px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: 2px #fff solid;
}
.navbar .flex {
  justify-content: space-between;
}

.container {
  max-width: 1100px;
  margin: 0 0 15px;
  overflow: auto;
  padding: 0 20px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.MainP {
  color: #333;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  margin-left: 50px;
  margin-right: 10px;
}

#two {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 60vw;
  height: 40vh;
  text-align: center;
}

h2 {
  color: #333;
  text-align: center;
  margin-left: 25px;
}

h3 {
  color: #333;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-bottom: 10px;
  /* border: 2px solid black; */
}

.video {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  align-items: center;
}

.results {
  display: flex;
  text-align: center;
  flex-flow: column;
  justify-content: center;
  margin: 0 auto;
  text-size-adjust: 10px;
}

/* .team-results {
  display: flex;
  flex-direction: row;
  margin: 10px 250px;
  align-content: space-around;
  align-items: baseline; */

.team-results {
  display: flex;
  align-content: space-around;
  padding: 5px;
  align-items: baseline;
  border: 2px solid #3eb489;
  margin-left: 275px;
  width: 62%;
}

.name {
  display: flex;
  align-content: left;
  justify-content: space-evenly;
  align-items: baseline;
  width: 300px;
}

h4 {
  margin: 0 auto;
  justify-content: space-evenly;
}

.league-rank {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

.games-won {
  display: flex;
  align-content: space-around;
  align-items: baseline;
}

/* .rankH {
  display: grid;
  flex-flow: row;
  margin: 0px 260px 0px;
  justify-content: space-evenly;
} */

/* .nameH {
  display: flex;
  flex-flow: row;
  white-space: normal;
  justify-content: space-evenly;
  align-items: baseline;
} */

.leagueHeaders {
  display: flex;
  justify-content: space-around;
  margin-left: 165px;
}

/* .headers {
  margin: 0 2px;
} */

@media screen and (max-width: 700px) {
  .navbar {
    background-color: #3eb489;
    list-style: none;
    text-decoration: none;
    color: #fff;
    height: 70px;
    width: auto;
  }
  .wrapper ul {
    display: inline-block;
    align-content: flex-start;
    height: 2px;
    width: 20vw;
    /* margin-left: -55px; */
    font-size: 16px;
    padding: 0 0px;
  }
  i.fas.fa-futbol {
    visibility: hidden;
  }
  .MainP {
    color: #333;
    display: flex;
    /* align-items: center; */
    width: auto;
    height: auto;
    margin-left: 20px;
    margin-right: 5px;
  }
  h4 {
    margin: 0 auto;
    justify-content: space-evenly;
    font-size: small;
  }
  .leagueHeaders {
    display: flex;
    /* justify-content: space-evenly; */
    width: auto;
    font-size: small;
    margin-left: 120px;
    margin-right: 5px;
    margin-top: 50px;
    flex-item-align: center;
  }
  .name {
    display: flex;
    /* align-content: left; */
    justify-content: space-evenly;
    align-items: baseline;
    width: 15vw;
    font-size: small;
  }
  .results {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  .team-results {
    display: flex;
    align-content: space-around;
    /* padding: 5px; */
    align-items: baseline;
    border: 2px solid #3eb489;
    margin-left: 120px;
    width: 62%;
    margin-right: 30px;
  }
}
